<footer class="page-footer" style="background-color:#A9A9A9;">
          <div class="container">
            <div class="row">
              <div class="col l8 s12">
                <h5 class="white-text">Download Application For Convenient Usage </h5>
                <p class="grey-text text-lighten-4">LOKANITI is an application about the book of guide for life written by the ancient Myanmar sage
                    Useful for the one who interested in Ancient Myanmar and keep Myanmar heritage.</p>

                <div class="row">
                  <a href="https://play.google.com/store/apps/details?id=soe.htet.lokaniti&hl=en_SG">
                    <button class="btn waves-effect waves-light" style="background-color:black;">Get on PlayStore
                        <i class="material-icons right">android</i>
                    </button>
                  </a>
                  <a href="https://itunes.apple.com/sg/app/lokaniti-guide-for-life/id1347478712?mt=8">
                    <button class="btn waves-effect waves-light" style="background-color:black;">Get on AppStore
                        <i class="material-icons right">apps</i>
                    </button>
                  </a>
                </div>

              </div>
              <div class="col l4 offset-l2 s12">
                <!-- <img src="images/screenshot.jpeg" height="300px"> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright" style="background-color:#696969;">
            <div class="container">
            © 2018 Copyright @Lokaniti
            </div>
          </div>
        </footer>
