<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel="stylesheet" type="text/css" href="/css/custom.css">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>

      <script type="text/javascript">
      $(document).ready(function(){
 $('.modal').modal();
 $('.dropdown-trigger').dropdown();
});
      </script>

   </head>


   <div class="navbar-fixed">
     <ul id="dropdown1" class="dropdown-content">
      <li><a href="/MM">MM</a></li>
      <li><a href="/EN">EN</a></li>
    </ul>
   <nav class="nav-extended" style="background-color:black;">
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">{{logo}}</a>
       <ul class="right hide-on-med-and-down">
         <li>
           <a class="dropdown-trigger" href="#!" data-target="dropdown1">Language: {{Language}}<i class="material-icons right">arrow_drop_down</i>
           </a>
         </li>
         <li><a href="https://play.google.com/store/apps/details?id=soe.htet.lokaniti&hl=en_SG"><i class="material-icons right">android</i>Play Store</a></li>
         <li><a href="https://itunes.apple.com/sg/app/lokaniti-guide-for-life/id1347478712?mt=8"><i class="material-icons right">apps</i>App Store</a></li>

       </ul>

     </div>

     <div class="nav-content">
       <div class = "col s12">
          <ul class = "tabs">
             <li class = "tab col s3"><a href = "#sage">{{part_1}}</a></li>
             <li class = "tab col s3"><a href = "#good_man">{{part_2}}</a></li>
             <li class = "tab col s3 "><a href = "#bad_man">{{part_3}}</a></li>
             <li class = "tab col s3"><a href = "#friend">{{part_4}}</a></li>
             <li class = "tab col s3"><a href = "#women">{{part_5}}</a></li>
             <li class = "tab col s3"><a href = "#king">{{part_6}}</a></li>
             <li class = "tab col s3 "><a href = "#mil">{{part_7}}</a></li>
          </ul>
       </div>
     </div>

   </nav>

  </div>

  <div class="container">
      <div class = "row" style="margin-top: 50px;">
        <div id = "sage" class = "col s12">
          {{#each sage}}
           <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span style="color:black"> {{title}} </span>
                <p style="white-space: pre-line">{{content}}</p>
              </div>

              <!-- <div class="card-action">
                <div class="card-content white-text">
                  <p>{{content}}</p>
                </div>
              </div> -->
            </div>
          {{/each}}
        </div>
         <div id = "good_man" class = "col s12">
           {{#each good_man}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>

         <div id = "bad_man" class = "col s12">
           {{#each bad_man}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>

         <div id = "friend" class = "col s12">
           {{#each friend}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>


         <div id = "women" class = "col s12">
           {{#each women}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>

         <div id = "king" class = "col s12">
           {{#each king}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>

         <div id = "mil" class = "col s12">
           {{#each mil}}
            <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <span style="color:black"> {{title}} </span>
                 <p style="white-space: pre-line">{{content}}</p>
               </div>

               <!-- <div class="card-action">
                 <div class="card-content white-text">
                   <p>{{content}}</p>
                 </div>
               </div> -->
             </div>
           {{/each}}
         </div>


      </div>
    </div>
   </body>
</html>
